<div class=jumbotron>
<h1>Pinterested</h1>
<%= link_to 'About', home_about_path, class: 'btn btn-primary' %>
<%= link_to 'Home', root_path, class: 'btn btn-default' %>
</div>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
